name: Update README Cards

on:
  push:
    branches: [main]
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      # ---------- Lowlighter Metrics (Left) ----------
      - name: Generate main metrics
        uses: lowlighter/metrics@latest
        with:
          filename: github-metrics.svg
          token: ${{ secrets.METRICS_TOKEN }}

          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Saigon

          plugin_calendar: yes
          plugin_calendar_limit: 2

          plugin_leetcode: yes
          plugin_leetcode_user: .user.login
          plugin_leetcode_sections: solved
          plugin_leetcode_limit_recent: 2
          plugin_leetcode_limit_skills: 5

          plugin_lines: yes
          plugin_lines_history_limit: 1
          plugin_lines_repositories_limit: 4
          plugin_lines_sections: base

          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_threshold: 0%
          plugin_languages_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used

          plugin_sponsors: yes
          plugin_sponsors_sections: goal, list, about
          plugin_sponsors_size: 24
          plugin_sponsors_title: Kaivian sincerely appreciates your support!

      # ---------- Lowlighter Metrics (Right) ----------
      - name: Generate right metrics
        uses: lowlighter/metrics@latest
        with:
          filename: right-metrics.svg
          token: ${{ secrets.METRICS_TOKEN }}

          template: classic
          base: ""
          config_timezone: Asia/Saigon

          plugin_people: yes
          plugin_people_types: followers, following
          plugin_people_limit: 24
          plugin_people_size: 28

          plugin_reactions: yes
          plugin_reactions_display: absolute
          plugin_reactions_limit: 200
          plugin_reactions_limit_discussions: 100
          plugin_reactions_limit_discussions_comments: 100
          plugin_reactions_limit_issues: 100
